{
    "env": {
        "node": true,
        "es6": true,
        "mocha": true
    },
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "extends": ["eslint:recommended"],
    "rules": {
        "indent": ["error", "tab"],
        "no-tabs": 0,
        "semi": ["error", "always"]
    }
}
